<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Album</title>
    <meta charset="utf-8">
    <style>
      body {
        background-color: black;
        color: white;
      }
      a {
        color: yellow;
      }
      a:visited {
        color: rgb(237, 234, 9);
      }
      h1 {
        color: rgb(11, 246, 62);}
    </style>
  </head>
  <body>
    <h1>{{album.title|e }}</h1>
    <p class="t-release_year">Released on: {{album.release_year|e }}</p><br>
    <p class="t-artist_name">By: {{artist_name|e }}</p><br>
    <p class="t-description">{{ album.description|e }}</p>

    

    <a href="/albums">Back to all albums</a>

    <p>
      <form action="/albums/{{album.id}}/delete" method="post">
        <input type="submit" value="Delete Album">
      </form>
    </p>
  </body>
</html>
   

